:root {
  --yellow: #ffc600;

  --size1: 4px;
  --size2: 8px;
  --size3: 12px;
  --size4: 16px;
  --size5: 24px;
  --size6: 32px;
  --size7: 48px;
  --size8: 64px;
  --size9: 96px;
  --size10: 128px;
  --size11: 192px;
  --size12: 256px;
  --size13: 384px;
  --size14: 512px;
  --size15: 640px;
  --size16: 768px;

  --white: #FFFBF8;
  --black1: #272727;
  --black2: #2F1D0F;
  --cream: #F7F0EA;
  --orange: #FA875B;
  --brown1: #F0D2B0;
  --brown2: #ECC091;
  --brown3: #CA9D73;
  --grey1: #64574A;
  --grey2: #958B81;
  --main-green: #35BDB2;
  --background1: #F9F2EA;
  --background2: #EEFCFF;
  --main-grey: #F7F7F7;
  --color1: #89431E;
  --color2: #00BCF1;
  --color3: #B3ECFC;
}

html, body, #root {
  // height: 100%;
}

@mixin page {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-text: center;
}

@mixin grid-list {
  display: grid;
  grid-auto-rows: calc(var(--size8) + var(--size1));
}

@mixin grid-item {
  display: grid;
  padding-left: var(--size4);
  line-height: calc(var(--size8) + var(--size1));
  font-size: var(--size5);
  width: 100%;
  letter-spacing: 1px;
  border-radius: 10% / 50%;
  justify-content: left;
}

@mixin main-header {
  text-align: center;
  height: var(--size8);
  line-height: var(--size8);
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // font-weight: 900;
  // font-size: 10px;
  color: var(--black1);
  // text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  body {
    color: var(--black1);
    background: var(--main-grey);
    // min-height: calc(100vh - 100px); // this comes from wes bos' code in css-grid course and I don't recall what is it.
    margin: 0px;
    /* background: white; */
    letter-spacing: -1px;

    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 0 0;
    }

    #root {
      min-height: 100vh;

      .home-page {
        @include page;
        // min-height: 100%;

        h1 {
          color: var(--main-green);
          border-radius: 35%;
          @include main-header;
        }

        .files-list {
          @include grid-list;
          width: var(--size13);

          .file-item {
            @include grid-item;

            &:hover {
              // background: #E8F0FE;
              // background: #FDDCD0;
              background: var(--color3);
            }

            a {
              background: none;
              text-decoration: none;
              // color: var(--black1);
              color: var(--color2);

              &:hover {
                // color: var(--orange);
              }

              .doc-icon {
                // line-height: var(--size1);
                vertical-align: middle;
              }
            }
          }
        }
      }

      .file-page {
        @include page;

        h1 {
          color: var(--color2);
          @include main-header;
        }

        .file-snippets-list {
          white-space: pre-wrap;
          // @include grid-list;

          // .file-snippet-item {
            // @include grid-item;

          // }
        }
      }
    }
  }
}

*, *:before, *:after { box-sizing: inherit; }
